.App {
  text-align: center;
}

.App-main img {
  width: 100%;
}

.fokonyv,
.konyvek {
  padding: 10px;
}

.konyvek {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.App-main .kiemelt {
  width: 80%;
  max-width: 800px;
  margin: auto;
}